@media(max-width:500px){
    .services{
        width:100%;
        .heading{
            padding-top: 30vh;
            font-size: 2.2rem;
            text-align: center;
            color:rgb(243, 215, 6)
        }
        .headingcontent{
            text-align: center;
            padding-left: 5%;
            width:90%;
        }
        .box{
            margin-top: 30px;
            width:100%;
            display:flex;
            margin-left:5%;
            flex-direction: column;
            .subox{
                margin-top: 10px;
                padding: 20px;
                width:90%;
                background-color: #111425;
                color:white;
                border-radius: 10px;   
                .icons{
                    margin-left: 40%;
                    font-size: 2.2rem;
                }         
                h2{
                    font-weight: 600;
                    text-decoration: underline;
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 500px) and (max-width: 1199px) {
    .services{
        width:100%;
        .heading{
            padding-top: 30vh;
            font-size: 2.2rem;
            text-align: center;
            color:rgb(243, 215, 6);
        }
        .headingcontent{
            text-align: center;
            padding-left: 10%;
            width:80%;
        }
        .box{
            margin-top: 30px;
            width:100%;
            display:flex;
            padding-left:5%;
            flex-direction: column;
            .subox{
                margin-top: 10px;
                padding: 20px;
                width:90%;
                background-color: #111425;
                color:white;
                border-radius: 10px;
                
                h2{
                    font-weight: 600;
                    text-decoration: underline;
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }
    }
}

@media(min-width:1200px){
    .services{
        width:100%;
        .heading{
            font-size: 2.2rem;
            text-align: center;
            text-decoration: underline;
        }
        .headingcontent{
            text-align: center;
            padding-left: 10%;
            width:80%;
        }
        .box{
            margin-top: 30px;
            width:100%;
            display:flex;
            gap:10%;
            padding-left: 5%;
            .subox{
                padding: 2%;
                width:25%;
                background-color: #111425;
                color:white;
                border-radius: 10px;
                transition:  background-color 5s;
                .icons{
                    margin-left: 2%;
                    font-size: 2.2rem;
                }
                h2{
                    padding-top: 10px;
                    font-weight: 600;
                    text-decoration: underline;
                    font-size: 1.5rem;
                }
            }
            .subox:hover{
                padding: 2%;
                width:25%;
                background-color:rgb(250, 247, 247);
                color:#111425 ;
                border: 1px solid #111425;
                border-radius: 10px;
                .icons{
                    margin-left: 2%;
                    font-size: 2.2rem;
                }
                h2{
                    padding-top: 10px;
                    font-weight: 600;
                    text-decoration: underline;
                    font-size: 1.5rem;
                }
            }
        }
    }
}