@media(max-width:500px){
    .home{    
        .box{
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            margin-top: 5%;
            width:90%;
                .box1{
                    width:100%;
                }
                .box2{
                    width:100%;
                    .img1{
                        width: 100%;
                        height: auto;
                        border-radius: 20px;
                    }
                }
            }
         .box3
         {
            width:100%;
            display:flex;
            flex-direction: column;
            background-color: #eae2e2;
            height: auto;
            align-items: center;
            .subbox{
                margin-top: 10px;
                .icons{
                    font-size: 3.5rem;
                    margin-top: 5%;
                    margin-left: 40%;
                }
                width:90%;
                height: 40vh;
                h3{
                    text-align: center;
                    text-decoration: underline;
                }
                p{
                    padding-left: 5%;
                }
                margin-left: 2%;
                border:1px solid #111425;
                background-color:#111425;
                color:White;
                border-radius:15px;
            }
         } 
         
         .box4{
            border: 1px solid white;
            width:100%;
            display:flex;
            flex-direction: column;   
            padding: 5%;
            gap:5%;
            .box4sub1{
                color: #111425;
                width:90%;
                .img6{
                    width:100%;
                    border-radius: 20px;
                }
            }
            .box4sub2{
                color: #111425;
                width:90%;
                h6{
                    font-size: 2rem;
                    text-decoration: underline;
                }
                h3{
                    font-size: 1.5rem;
                }
                .img6{
                    width:40%
                }
            }
        }
        .box5{
            width:100%;
            background-color: #111425;
            height:auto;
            padding-top: 5%;
            display:flex;
            flex-direction: column;
            gap:5%;
            .box5sub1{
                background-color: white;
                color:#111425;  
                border-radius: 20px;
                width:90%;
                margin-left: 5%;
                border:1px solid white;
                height: 30vh;
                p{
                    text-align: center;
                    padding-top: 10%;
                    width:90%;
                    color:rgb(232, 190, 5);
                }
                h3{
                    width:80%;
                    padding-left: 15%;
                    text-align: center;
                }
                .contact{
                    display: none;
                }
            }
            .box5sub2{
                color: white;
                display: flex;
                flex-direction: column;
                
                  .box5sub3{
                    margin-top: 10%;
                    border: 1px solid white;
                    width:90%;
                    margin-left: 5%;
                    padding-left: 5%;
                    padding-top: 10px;
                    border-radius: 20px;
                    height: 30vh;
                    h3{
                        text-decoration: underline;
                        font-size: 1.5rem;
                    }
                    p{
                        width:100%
                    }
                }
                
            }
            
        }
    }
}
@media(min-width:1200px){
    .home{
        .switch{
            .c1{
                width:100%;          
                .images{
                    width:100%;  
                }
            }
        }
        .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
                .box1{
                    width:50%;
                }
                .box2{
                    width:50%;
                    .img1{
                        width: 100%;
                        height: auto;
                        border-radius: 20px;
                    }
                }
            }
         .box3
         {
            width:100%;
            display:flex;
            background-color: #eae2e2;
            gap:5%;
            height: 80vh;
            align-items: center;
            .subbox{
                height: 60vh;
                .icons{
                    font-size: 3.5rem;
                    margin-left: 10%;
                    margin-top: 5%;
                }
                h3{
                    margin-top: 5px;
                    width:80%;
                    margin-left: 10%;
                    text-decoration: underline;
                    font-size: 1.5rem;
                }
                p{
                    width:80%;
                    margin-left: 10%;
                    margin-bottom: 20%;
                    font-size: 1.2rem;
                }

                width:20%;
                margin-left: 2%;
                border:1px solid #111425;
                background-color:#111425;
                color:White;
                border-radius:15px;
                transition:  background-color 5s;
            }
            .subbox:hover{
                transition:5s;
                width:20%;
                margin-left: 2%;
                background-color:White;
                color:#111425;
                border-radius:15px;
                
            }
        }   
        .box4{
            width:100%;
            display:flex;
            background-color: #111425;
            height:100vh;
            padding: 5%;
            gap:5%;
            .box4sub1{
                background-color: #111425;
                width:50%;
                .img6{
                    width:100%;
                    border-radius: 20px;
                }
            }
            .box4sub2{
                color: white;
                width:50%;
                h6{
                    text-decoration: underline;
                }
                .img6{
                    width:40%
                }
            }
        }
        .box5{
            width:100%;
            display:flex;
            background-color: #111425;
            height:100vh;
            padding: 5%;
            gap:5%;
            .box5sub1{
                background-color: #111425;
                color:white;  
                border-radius: 20px;
                width:80%;
                border:1px solid white;
                p{
                    padding-left: 2%;
                    padding-top: 40%;
                    width:90%
                }
                h3{
                    padding-left: 2%;
                }
                .contact{
                    background-color: #111425;
                    height:8vh;
                    width:30%;
                    border: none;
                    color:White;
                    border-radius: 10px;
                    margin-left: 5%;
                    margin-top: 10px;
                }
            }
            .box5sub2{
                color: white;
                display: flex;
                flex-direction: column;
                gap: 20%;
                  .box5sub3{
                    border: 1px solid white;
                    width:100%;
                    height:40vh;
                    padding-left: 10%;
                    padding-top: 10px;
                    border-radius: 20px;
                    h3{
                        text-decoration: underline;
                    }
                    p{
                        width:100%
                    }
                }
                .box5sub3:hover{
                    border: 1px solid #111425;
                    background-color: white;
                    color:#111425;
                    width:100%;
                    height:40vh;
                    padding-left: 10%;
                    padding-top: 10px;
                    border-radius: 20px;
                    transition:  background-color 5s;
                    h3{
                        text-decoration: underline;
                    }
                    p{
                        width:100%
                    }
                }
            }
            
        }
    }
}