@media(max-width:500px){
    .home{
        
        .box{
            display: flex;
            flex-direction: column;
            margin-left: 5%;
                .box1{
                    width:90%;
                }
                .box2{
                    width:90%;
                    .img1{
                        width: 100%;
                        height: auto;
                        border-radius: 20px;
                    }
                }
            }
         .box3
         {
            width:100%;
            display:flex;
            flex-direction: column;
            background-color: #eae2e2;
            gap:5%;
            padding-top: 10px;
            height: 150vh;
            align-items: center;
            .subbox{
                width:80%;
                height: 45vh;
                h3{
                    text-align: center;
                    text-decoration: underline;
                }
                p{
                    padding: 10%;
                }
                margin-left: 2%;
                border:1px solid #111425;
                background-color:#111425;
                color:White;
                border-radius:15px;
            }
         }   
    }
}
@media(min-width:1200px){
    .home{
        .switch{
            .c1{
                width:100%;          
                .images{
                    width:100%;  
                }
            }
        }
        .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
                .box1{
                    width:50%;
                }
                .box2{
                    width:50%;
                    .img1{
                        width: 100%;
                        height: auto;
                        border-radius: 20px;
                    }
                }
            }
         .box3
         {
            width:100%;
            display:flex;
            background-color: #eae2e2;
            gap:5%;
            height: 80vh;
            align-items: center;
            .subbox{
                height: auto;
                .icons{
                    font-size: 3.5rem;
                    margin-left: 10%;
                    margin-top: 5%;
                }
                h3{
                    margin-top: 5px;
                    width:80%;
                    margin-left: 10%;
                    text-decoration: underline;
                    font-size: 1.5rem;
                }
                p{
                    width:80%;
                    margin-left: 10%;
                    margin-bottom: 20%;
                    font-size: 1.2rem;
                }

                width:20%;
                margin-left: 2%;
                border:1px solid #111425;
                background-color:#111425;
                color:White;
                border-radius:15px;
                transition:  background-color 5s;
            }
            .subbox:hover{
                transition:5s;
                width:20%;
                margin-left: 2%;
                background-color:White;
                color:#111425;
                border-radius:15px;
                
            }
        }   
        .box4{
            width:100%;
            display:flex;
            background-color: #111425;
            height:100vh;
            padding: 5%;
            gap:5%;
            .box4sub1{
                background-color: #111425;
                width:50%;
                .img6{
                    width:100%;
                    border-radius: 20px;
                }
            }
            .box4sub2{
                color: white;
                width:50%;
                h6{
                    text-decoration: underline;
                }
                .img6{
                    width:40%
                }
            }
        }
    }
}