@media(max-width: 500px) {
    .about {
        width:100%;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        p{
            font-size: 1rem;
        }
        .box1{
            margin-top: 20vh;
            width:90%;
            .image6{
                width: 100%;
            }
        }
        .box2{
            width:90%;
        }
        .box3{
            display: flex;
            flex-direction: column;
            ul{
                margin-top: -15px;
                width:100%;
                li{
                    font-size: 1rem;
                }
            }
        }
    }
}
@media(min-width: 1200px) {
    .about {
        width:100%;
        display: flex;
        align-items: center;
        padding-top: 10px;
        p{
            font-size: 1rem;
        }
        .box1{
            width:50%;
            .image6{
                width: 100%;
            }
        }
        .box2{
            width:50%;
        }
        .box3{
            display: flex;
            ul{
                width:100%;
                li{
                    font-size: 1.5rem;
                }
            }
        }
    }
}