@media(max-width:500px){
    .switch{
        width:100%;   
        padding-top: 20vh;  
        .images{
            width:100%; 
        }
    }

}
@media(min-width:1200px){
    .switch{
        width:100%;   
        .images{
            width:100%; 
        }
    }

}