@media(max-width:500px){
    .switch{
        width:100%;   
        padding-top: 20vh; 
        .images{
            width:100%; 
            height:40vh
        }
        .box1{
            display:none;
        }

        .box2,.box3{
            display:none;
        }
    }

}
@media(min-width:1200px){
    .switch{
        position: relative;
        width:100%;  
        height:auto; 
        .images{
            width:100%; 
        }

        .box1{
            position: absolute;
            top: 35%;
            left:10%;
            color:white;
            width:50%;
            h2{
                    font-size: 4rem;
                }
            button{
                color:black;
                border-radius:10px;
                height:40px;
                border:none;
                width:20%;
                background-color: white;
            }
            p{
                font-size: 1.2rem;
            }     
        }

        .box2,.box3{
            position: absolute;
            top: 35%;
            left:10%;
            color:white;
            width:50%;
            h2{
                    font-size: 4rem;
                    font-weight: 600;
                }
            p{
                font-size: 1.2rem;
            }    
            button{
                color:black;
                border-radius:10px;
                height:40px;
                border:none;
                width:20%;
                background-color: white;
            }
        }
        


    }    
        
        

}