@media(max-width:500px){
    .clients{
    width:100%;
    h1{
        padding-top: 200px;
            font-size: 1.6rem;
            font-weight: 600;
            color: #333;
            margin-bottom: 10px;
            text-align: center;
        }
    p{
        width:90%;
        text-align: center;
        padding-left: 10%;
    }    
    .box1{
        width:100%;
        background-color:#f5f5f5;
        display:flex;
        gap:5%;
        padding-left: 15%;
        padding-top: 5px;
        flex-direction: column;
        .boxes{
            align-items: center;
            margin-top:30px;
            display:flex;
            padding-left: 2%;
            background-color: white;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
            border-radius: 10px;
            width:80%;
            img{
                width:90%;
                border-radius: 10px;
                height:25vh;
            }
        }
        
    }
    .box2{
        width:100%;
        background-color:#f5f5f5;
        display:flex;
        flex-direction: column;
        gap:5%;
        padding-left: 15%;
        .boxes{
            margin-top:30px;
            display:flex;
            padding: 5%;
            background-color: white;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
            border-radius: 10px;
            width:80%;
            img{
                width:90%;
                border-radius: 10px;
                height:25vh;
            }
        }
    }
}
}

@media(min-width:1200px){
    .clients{
    width:100%;
    h1{
        padding-top: 10px;
            font-size: 2.2rem;
            font-weight: 600;
            color: #333;
            margin-bottom: 10px;
            text-align: center;
        }
    p{
        width:75%;
        text-align: center;
        padding-left: 20%;
    }    
    .box1{
        width:100%;
        background-color:#f5f5f5;
        display:flex;
        gap:5%;
        padding-left: 15%;
        padding-top: 5px;
        
        .boxes{
            align-items: center;
            margin-top:30px;
            display:flex;
            padding-left: 2%;
            background-color: white;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
            border-radius: 10px;
            width:23%;
            img{
                width:90%;
                border-radius: 10px;
            }
        }
        
    }
    .box2{
        width:100%;
        background-color:#f5f5f5;
        display:flex;
        gap:5%;
        padding-left: 15%;
        .boxes{
            align-items: center;
            margin-top:30px;
            display:flex;
            padding-left: 2%;
            background-color: white;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
            border-radius: 10px;
            width:23%;
            img{
                width:90%;
                border-radius: 10px;
            }
        }
    }
}
}