@media(max-width:500px){
    .footer{
        width:100%;
            background-color: #111425;
            color:white;
            overflow-x: hidden;
            display:flex;
            flex-direction: column;
            margin-top: 100px; 

        .c1{
            width:90%;
            margin-top: 50px;
            
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                li{
                    list-style-type: circle;  
                    font-size: 1rem;           
                }
                h1{
                    font-weight: 400;     
                }
            }
            p{
                padding-top: 10px;
                font-weight: 400;
                font-size: 1rem; 
            }
    
        }
    
    }
}

@media(min-width:500px) and (max-width:1200px){
    .footer{
        width:100%;
        background-color: green;
        color:white;
        overflow-x: hidden;
        display:flex;
        flex-direction: column;
        .c1{
            margin-left: 5%;
            margin-top: 50px;
            h1{
                font-weight: 200;
                font-size: 30px;
            }
            p{
                padding-top: 15px;
                font-size: 25px;
                font-weight: 200;
            }
    
        }
    
    }
}

@media(min-width:1200px){
    .footer{
        width:100%;
        border-radius: 1px solid black;
        background-color: #111425;
        color:white;
        font-size: 1.2rem;
        font-weight: 400;
        display:flex;
        .c1{
            width:40%;
            margin-left: 2%;
            margin-top: 50px;
            h1{
                font-size: 1.5rem;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 13px;
                li{
                    list-style-type: circle;              
                }
            }
            
            p:hover{
                text-decoration: underline;
            }
    
        }
    
    }
}